
.front {
  background-color: #983535;
  width: 1200px;
}
.sales {
  background-color: #983535;
}

.titlefont {
  font-size: 50px;
  color: white;
}

#header {
  position: relative;
}

nav a {
  width: 20px;
  height: 20px;
  color: white;
  position: absolute;
  top: 0px;
  right: 260px;
}

.nav1 {
  position: relative;
}

.bod h1 {
  margin-left: 50px;
  font-size: 40px;
}



.bod {
  display: inline-block;
  position: relative;
  width: 700px;
  margin-bottom: 60px;
}

.bod img {
  width: 160%;
  height: 200px;
  position: absolute;
  left: 555px;
  top: 3px;

}

div a {
  position: absolute;
  left: 445px;
  bottom: 35px;
  color: black;
}

header img {
  height: 10%;
  width: 10%;
  position: absolute;
  top: 10px;
}

header, section, body {
  margin: 0 auto;
}

.sec1 img {
  float: left;
  width: 40%;
  margin-right: 30px;
}

.sam1 {
  width: 10%;
}

.sam2 {
  width: 10%;
}

thead {
  background: #888;
}

.styleDsp {
  background: #666;
}

.styleHour {
  background: #888;
}
.something {
  background: #888;
}

td {
  padding: 20px;
  border: solid 1px black;
}


th {
  padding: 20px;
  border: solid 1px black;
}

tr {
  padding: 20px;
  border: solid 1px black;
  background-color: #524747;
  color: white;
  border-radius: 50px;
}

.styleHead {
  background: #888;
  padding: 20px;
  border: solid 1px black;
}

fieldset {
  background-color: #b39b9b;
  margin-top: 50px;
}

legend {
  font-size: 35px;
  color: black;
}

label {
  font-size: 20px;
  margin-right: 10px;
}

input {
  margin-right: 30px;
}

button:hover{
  background-color: gray;
  color: black;
}
  
button {
  background-color: rgb(8, 8, 8);
  color: #a14e4e;
  transition-duration: 350ms;
  display: inline;  
  left: 320px;
  bottom: 340px;
  font-size: 20px;
  margin-left: 30px;
  border-radius: 15px;
  padding-left: 70px;
  padding-right: 70px;
  border-top-width: 3px;
  border-bottom-width: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr th {
  background-color: #0e0b0b;
  color: white;
  
}
 
td~td {
  background-color: #a14e4e;
  color: white;
  border-radius: 5px;
}
  

.titleFont {
  font-family: Georgia, serif;
}

.headerFont1 {
  font-family: Impact, Charcoal, sans-serif;
}

.headerFont2 {
  font-family: cursive;
}

.headerFont3 {
font-family: fantasy;
}