header, section, body {
  margin: 0 auto;
}
#front-html {
  background-color: #983535;
}
.front {
  background-color: white;
  width: 1200px;
  
}


.titlefont {
  font-size: 50px;
  color: rgb(26, 23, 23);
  font-family: Georgia, serif;
  text-align: center;
  color: #983535;
}

.header {
  position: relative;
  padding-top: 1px;
}


header img {
  height: 125%;
  width: 10%;
  position: absolute;
  top: 10px;
  
}

nav a {
  color: #983535;
  text-decoration: none;

}

a:hover, a:active {
  color: rgb(224, 120, 138);
  text-decoration: underline;
  font-size: 150%;
}

#nav1 {
  
  margin-bottom: 1px;
  margin-top: 30px;
}

.sec1 {
  height: 325px;
  position: relative;
}

.sec1 h1 {
  position: absolute;
  font-size: 16px;
  left: 613px;
  right: 78px;
  top: 30px;
  font-weight: normal;
  line-height: 30px;
}

.sec1 img {
  float: left;
  width: 41%;
  margin-left: 76px;
}

#invert {
  
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  right: 0px;

}


.sec2 {
  position: relative;
}

.index-foot {
  margin-bottom: 100px;
}


.headFont2 {
  font-family: cursive;
  text-align: center;
  color: rgb(15, 14, 14);
  text-decoration: underline;
}

.hr1 {
  margin-bottom: 75px;
  border: 6px solid #983535;
  border-radius: 5px;
  width: 700px;
  
}

.design {
  position: relative;
  height: 300px;
}

.design p {
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.img1 {
  position: relative;
  bottom: 225px;
  left: 245px;
}

.img2 {
  position: relative;
  left: 550px;
  bottom: 225px;
}

.hr2 {
  margin-bottom: 75px;
  border: 6px solid #983535;
  border-radius: 5px;
  width: 700px;
  margin-top: 50px;
}

.headerFont3 {
font-family: fantasy;
}

ul {
  text-align: center;
  margin-left: 25px;
  margin-bottom: 1px;
}

li {
  display: inline-block;
  
  margin-right: 80px;
}

li p {
  width: 125px;
}

/* ********* sales html ************/

.bod h1 {
  margin-left: 50px;
  font-size: 40px;
}

.bod {
  display: inline-block;
  position: relative;
  width: 700px;
  margin-bottom: 60px;
}

.bod img {
  width: 160%;
  height: 200px;
  position: absolute;
  left: 555px;
  top: 3px;

}

div a {
  position: absolute;
  left: 445px;
  bottom: 35px;
  color: black;
}

.sam1 {
  width: 10%;
}

.sam2 {
  width: 10%;
}

thead {
  background: #888;
}

.styleDsp {
  background: #666;
}

.styleHour {
  background: #888;
}
.something {
  background: #888;
}

td {
  padding: 20px;
  border: solid 1px black;
}


th {
  padding: 20px;
  border: solid 1px black;
}

tr {
  padding: 20px;
  border: solid 1px black;
  background-color: #524747;
  color: white;
  border-radius: 50px;
}

.styleHead {
  background: #888;
  padding: 20px;
  border: solid 1px black;
}

fieldset {
  background-color: #b39b9b;
  margin-top: 50px;
}

legend {
  font-size: 35px;
  color: black;
}

label {
  font-size: 20px;
  margin-right: 10px;
}

input {
  margin-right: 30px;
}

button:hover{
  background-color: gray;
  color: black;
}
  
button {
  background-color: rgb(8, 8, 8);
  color: #a14e4e;
  transition-duration: 350ms;
  display: inline;  
  left: 320px;
  bottom: 340px;
  font-size: 20px;
  margin-left: 30px;
  border-radius: 15px;
  padding-left: 70px;
  padding-right: 70px;
  border-top-width: 3px;
  border-bottom-width: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr th {
  background-color: #0e0b0b;
  color: white;
  
}
 
td~td {
  background-color: #a14e4e;
  color: white;
  border-radius: 5px;
}
  
